@use "@shared/assets/styles/variables" as *;

.palette {
  display: flex;
  gap: 1rem;

  &Button {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    border: 3px solid var(--border-color);
    transform: scale(1);
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.default {
  background-color: $black;
}

.red {
  background-color: $red;
}
.yellow {
  background-color: $yellow;
}
.blue {
  background-color: $blue;
}
.purple {
  background-color: $purple;
}

.default,
.red,
.yellow,
.blue,
.purple {
  position: relative;
  opacity: 0.5;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0.75rem;
    height: 0.75rem;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  &.active {
    border: 2px solid $white;

    opacity: 1;
  }

  &.active::after {
    transform: translate(-50%, -50%) scale(1);
    background-color: $white;
  }
}
