.palette {
  display: flex;
  gap: 10px;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  border: none; // прибираємо чорний бордер, зробимо тінь
  cursor: pointer;

  transition: all 0.2s ease-in-out; // плавна анімація
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); // тінь для кнопки
  outline: none;

  background-color: #171717;

  // border: 1px solid white;
  transition: 0.1s ease-in-out;
  // border-radius: 10px;

  outline: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9); // ефект натискання
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.default {
  background-color: #1d1d1d;
  border: 2px solid white;

  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
  }
}

.red {
  background-color: #ff4d4d;
}
.yellow {
  background-color: #ffa500;
}
.blue {
  background-color: #4da6ff;
}
.purple {
  background-color: #800080;
}
