.palette {
  display: flex;
  gap: 10px;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  border: none; // прибираємо чорний бордер, зробимо тінь
  cursor: pointer;

  transition: all 0.2s ease-in-out; // плавна анімація
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); // тінь для кнопки
  outline: none;

  background-color: #171717;

  // border: 1px solid white;
  transition: 0.1s ease-in-out;
  // border-radius: 10px;

  outline: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9); // ефект натискання
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.default {
  background-color: #000;
  // border: 2px solid white;
}

.red {
  background-color: #ff4d4d;
}
.yellow {
  background-color: #ffa500;
}
.blue {
  background-color: #4da6ff;
}
.purple {
  background-color: #800080;
}

.default,
.red,
.yellow,
.blue,
.purple {
  position: relative;
  opacity: 0.5;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); // початково трохи зліва
    width: 0.75rem;
    height: 0.75rem;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease; // плавна анімація
  }

  &.active {
    border: 2px solid white;
    opacity: 1;
  }

  &.active::after {
    transform: translate(-50%, -50%) scale(1);
    background-color: white;
  }
}
