@use "@shared/assets/styles/variables" as *;
@use "@shared/assets/styles/mixins" as *;
@use "@shared/assets/styles/placeholders";

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  //----------------------------------
  // OVERLAY

  //----------------------------------

  &Overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }

  &Content {
    position: absolute;
    max-width: 320px;
    border: 1px solid #5c5d5e;
    background-color: #2b2d30;
  }


}


