@use "@shared/assets/styles/variables" as *;
@use "@shared/assets/styles/placeholders";

.header {
  @extend %widgets;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %title;

    span {
      background-color: $main-color;
      padding: 0rem 0.5rem;
      letter-spacing: -0.2rem;
    }
  }

  &__basket {
    @extend %title;
  }
}
