/*
обертання
*/

@keyframes rotateElement {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
}
