@use "@shared/assets/styles/variables" as *;
@use "@shared/assets/styles/mixins" as *;
@use "@shared/assets/styles/placeholders";

.box {
  position: relative;
  min-width: 32rem;
  min-height: 15rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
  padding: 2rem;

}

.cross {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform .66s ease;

  &:hover {
    transform: scale(1.5);
  }


  & svg {
    fill: #548af7;
    //pointer-events: none !important;
  }
}

.body {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.title {
  font-weight: bold;
  position: relative;
  padding-left: 3.5rem;
  //border: 1px solid red;
  &:before {
    content: 'i';
    background-color: #548af7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 0;
    top: -50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
  }
}

.text {
  //font-style: italic;
  color: silver;
  //font-weight: 100 !important;
}



.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;


  & button {
    color: #fff;
    padding: .5rem;
    min-width: 80px;
    transition: all .33s ease;
    &:hover {
      border: 2px solid #548af7;
    }
  }

  &Delete {
    background-color: #548af7;
    border: 2px solid currentColor;

  }

  &Cancel {
    border: 2px solid #5c5d5e;
  }
}

