/*
: Aнімації руху
animation: moveUpDown 1.2s infinite;
transform: translateX(0.5px) rotate(0deg);

*/

@keyframes moveUpDown {
  //
  0% {
    transform: scale(0.88);
  }

  50% {
    transform: scale(1);
    /* Двигается вниз на 20px */
  }

  100% {
    transform: scale(0.88);
    /* Возвращается в исходное положение */
  }
}

@keyframes move {
  0% {
    //
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    // transform: translateX(-0.5px) rotate(0.5deg);
    transform: translateX(-5px) rotate(5deg);
    /* Двигается вниз на 20px */
  }

  100% {
    // transform: translateX(0.5px) rotate(0deg);
    transform: translateX(5px) rotate(0deg);
    /* Возвращается в исходное положение */
  }
}
