@use "@shared/assets/styles/variables/" as *;
@use "@shared/assets/styles/mixins/" as *;
@use "@shared/assets/styles/placeholders";

.image-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  figcaption {
  }
}

.scanner-block {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  @extend %title;
  color: #444;
  font-size: 3rem;
  border-radius: 1rem;
  text-align: center;
}

.scanner-line {
  position: absolute;
  top: 0;
  left: -75%;
  width: 250%;
  height: 50%;
  transform: rotate(45deg);
  background: linear-gradient(
    90deg,
    rgba(216, 8, 235, 0) 20%,
    rgba(80, 231, 9, 0.6) 30%,
    rgba(225, 98, 214, 0.8) 50%,
    rgba(246, 101, 198, 0.5) 70%,
    rgba(204, 129, 183, 0) 100%
  );
  filter: blur(40px); // трохи менше, щоб не розпливалось
  animation: scanline 3.3s infinite linear;
  pointer-events: none;
  z-index: 1;
}

@keyframes scanline {
  0% {
    transform: translateX(-50%) rotate(45deg);
  }
  100% {
    transform: translateX(50%) rotate(45deg);
  }
}
