// -----Color project
$primary: #00a2ff;
$secondory: #f5f533;
$accent: #ffd700;
$black: #000000;
$white: #ffffff;
// --------------------------------
$main-color: #9f0013;
$dark: #151515;
$grey: #5c5c5c;
$bg-color: #1a1a1a;
