// -----Color project
// $primary: #00a2ff;
// $secondory: #f5f533;

$black: #000000;
$white: #ffffff;
// --------------------------------
$main-color: #f76fb5;
$dark: #151515;
$grey: #5c5c5c;
$bg-color: #1d1d1d;

// ---------------------------------------------

//=====================================================
$accent: #f76fb5;
$silver: #c0c0c0;
$attention: #ffb74d;
$success: #5d9948;
