@use "@shared/assets/styles/variables/" as *;
@use "@shared/assets/styles/mixins/" as *;
@use "@shared/assets/styles/placeholders";

.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 2rem;
  padding: 3rem 6rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  @extend %title;

  & button {
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    min-width: 80px;
  }

  &Delete {
    background-color: green;
    border: 2px solid black;
  }

  &Cancel {
    background-color: red;
    border: 2px solid black;
  }
}

.text {
  @extend %title;
  text-align: center;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
