@use "@shared/assets/styles/config"; // null-style, fonts,
@use "@shared/assets/styles/variables" as *;
@use "@shared/assets/styles/mixins" as *;

html {
  font-size: $f-size-rem;
}

body.light {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #000;
  --icon-color: #000;
}

body {
  font-family: $font-face;
  font-size: $f-size-default;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  overflow: hidden;
  min-height: 100%;
  @include flexbox(flex, null, null, column, null, null);
}

[class*="__container"] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main {
  flex: 1 0 auto; // (flex-grow:0; flex-shrink:1; flex-basis:auto;)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
