@use "./components/shared/assets/styles/config"; // null-style, fonts,
@use "./components/shared/assets/styles/variables/" as *;
@use "./components/shared/assets/styles/mixins/" as *;

html {
  font-size: $f-size-rem;
}

body {
  font-family: $font-face;
  font-size: $f-size-default;
  color: $white;
  background-color: $bg-color;
}

#root {
  overflow: hidden;
  min-height: 100%;
  @include flexbox(flex, null, null, column, null, null);
}

[class*="__container"] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.main {
  flex: 1 0 auto; // (flex-grow:0; flex-shrink:1; flex-basis:auto;)
}

.visually-hidden {
  position: absolute; /* виносимо елемент за межі потоку */
  width: 1px; /* мінімальна ширина */
  height: 1px; /* мінімальна висота */
  padding: 0;
  margin: -1px; /* прибираємо з layout */
  overflow: hidden; /* ховаємо вміст */
  clip: rect(0, 0, 0, 0); /* старий спосіб обрізки */
  clip-path: inset(50%); /* сучасний спосіб обрізки */
  border: 0;
  white-space: nowrap; /* запобігаємо переносу */
}
